---
import { getCollection } from "astro:content"

import ArticleCard from "@/components/ArticleCard.astro"
import Bio from "@/components/Bio.astro"
import Head from "@/components/Head.astro"
import Layout from "@/components/Layout.astro"
import TagList from "@/components/TagList.astro"

export const getStaticPaths = async () => {
  const allPosts = await getCollection("posts")
  const uniqueTags = [
    ...new Set(allPosts.map(post => post.data?.tags).flat()),
  ].filter(e => Boolean(e))

  return uniqueTags.map(tag => {
    const filteredPosts = allPosts.filter(
      post => post.data?.tags && post.data?.tags.includes(tag || ""),
    )
    return {
      params: { tag },
      props: { posts: filteredPosts },
    }
  })
}

const allPosts = await getCollection("posts")
const tags = [...new Set(allPosts.map(post => post.data?.tags).flat())].filter(
  (e): e is string => typeof e === "string",
)

const { tag } = Astro.params
const { posts } = Astro.props
---

<html>
  <Head
    title={tag || ""}
    ogTitle={`${tag}の記事一覧`}
    ogDescription={`${tag}の記事一覧`}
  />
  <body>
    <Layout title={tag}>
      <h1 class="mb-2 text-4xl font-extrabold">
        <i class="ri-price-tag-3-line"></i>
        {tag} 記事一覧
      </h1>
      <div class="lg:flex lg:space-x-2">
        <div class="max-w-screen-2xl lg:flex-grow">
          {
            posts.map(post => {
              return <ArticleCard post={post} />
            })
          }
        </div>
        <div class="mb-2 lg:flex-none">
          <Bio />
          <TagList tags={tags} activeTag={tag} />
        </div>
      </div>
    </Layout>
  </body>
</html>
