---
interface Props {
  post: CollectionEntry<"posts">
}

import type { CollectionEntry } from "astro:content"
import { cdate } from "cdate"

import Tag from "./Tag.astro"

const { post } = Astro.props
const title = post.data.title
const tags = post.data?.tags
---

<div
  class="mb-2 bg-gray-50 px-4 py-10 shadow-lg dark:bg-gray-800 sm:rounded-xl sm:p-5"
  transition:name=`articleCard-${post.slug}`
  transition:animate="fade"
>
  <a
    href={`/posts/${post.slug}`}
    class="has-text-black"
    astro-data-history="push"
  >
    <article class="media" itemtype="http://schema.org/Article">
      <div class="">
        <div class="mb-2 text-2xl">{title}</div>
        <div class="mb-2 text-sm">
          {cdate(post.data.date).format("YYYY年MM月DD日")}
        </div>
        <div class="mb-2">
          {
            tags?.map((tag: string) => (
              <Tag className="mr-1" tag={tag} withLink={false} />
            ))
          }
        </div>
      </div>
    </article>
  </a>
</div>
