---
interface Props {
  title: string
  ogImage?: string
  ogTitle: string
  ogDescription?: string
}

const { title, ogImage, ogTitle, ogDescription } = Astro.props
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/blog/favicon.ico" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />

  {ogImage && <meta property="og:image" content={ogImage} />}
  <meta property="og:site_name" content="YutaGoto Blog" />
  <meta property="og:type" content="object" />
  <meta
    property="og:title"
    content={`${ogTitle && `${ogTitle} - `}.ごっちの日記`}
  />
  <meta property="og:url" content={Astro.url} />
  <meta property="og:description" content={ogDescription} />
  {ogImage && <meta name="twitter:image:src" content={ogImage} />}
  <meta name="twitter:creator" content="@gggooottto" />
  <meta name="twitter:card" content="summary" />
  <meta
    name="twitter:title"
    content={`${ogTitle && `${ogTitle} - `}.ごっちの日記`}
  />
  <meta name="twitter:description" content={ogDescription} />
  <title>{title && `${title} - `}.ごっちの日記</title>
</head>
