---
import { ViewTransitions } from "astro:transitions"

import { getOgImageUrl } from "@/utils/getOgImageUrl"

interface Props {
  title: string
  ogImage?: string
  ogTitle: string
  ogDescription?: string
}

const { title, ogImage, ogTitle, ogDescription } = Astro.props
const ogImateSrc = ogImage || getOgImageUrl(Astro.url.pathname)
const ogImageUrl = ogImateSrc
  ? new URL(`/blog${ogImateSrc}`, Astro.site)
  : undefined
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/blog/favicon.ico" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />

  {ogImageUrl && <meta property="og:image" content={ogImageUrl} />}
  <meta property="og:site_name" content="YutaGoto Blog" />
  <meta property="og:type" content="object" />
  <meta
    property="og:title"
    content={`${ogTitle && `${ogTitle} - `}.ごっちの日記`}
  />
  <meta property="og:url" content={Astro.url} />
  <meta property="og:description" content={ogDescription} />
  {ogImageUrl && <meta name="twitter:image:src" content={ogImageUrl} />}
  <meta name="twitter:creator" content="@gggooottto" />
  <meta name="twitter:card" content="summary" />
  <meta
    name="twitter:title"
    content={`${ogTitle && `${ogTitle} - `}.ごっちの日記`}
  />
  <meta name="twitter:description" content={ogDescription} />
  <title>{title && `${title} - `}.ごっちの日記</title>
  <ViewTransitions />
</head>
