---
import "prism-themes/themes/prism-atom-dark.css"
import { cdate } from "cdate"

import Bio from "./Bio.astro"
import ButtonLink from "./ButtonLink.astro"
import Head from "./Head.astro"
import Layout from "./Layout.astro"
import Tag from "./Tag.astro"

import type { PostEntry } from "@/content/config"

interface Props {
  frontmatter: PostEntry["frontmatter"]
}

const { frontmatter } = Astro.props
const gTagId = import.meta.env.PROD ? "G-WDXGRMPVMC" : "G-4ZQZQZQZQZ"
---

<html>
  <Head
    title={frontmatter.title}
    ogTitle={frontmatter.title}
    ogDescription={frontmatter.description}
    ogImage={frontmatter?.image}
  />
  <body>
    <Layout>
      <div class="xl:flex xl:space-x-2">
        <div class="xl:flex-grow">
          <article class="blog-post">
            <h1 class="mb-2 text-4xl font-extrabold">
              {frontmatter?.title}
            </h1>
            <p class="text-md mb-2">
              {cdate(frontmatter?.date).format("YYYY年MM月DD日")}
            </p>
            <div>
              {
                frontmatter?.tags?.map(tag => (
                  <Tag className="mr-1" tag={tag} />
                ))
              }
            </div>
            <section class="mt-3">
              <slot />
            </section>
          </article>
        </div>
        <div class="lg:flex-none">
          <Bio />
        </div>
      </div>

      <div class="mb-4 mt-4">
        <a
          href="https://twitter.com/share?ref_src=twsrc%5Etfw"
          class="twitter-share-button"
          data-text={`${frontmatter?.title} - .ごっちの日記`}
          data-via="gggooottto"
          data-show-count="false">Tweet</a
        >
      </div>

      <div
        class="mb-4 mt-4 flex flex-col lg:flex-row lg:justify-between"
        role="navigation"
      >
        <ButtonLink
          text="トップへ戻る"
          iconName="arrow-up-s-line"
          isLeft={true}
          linkTo="/"
        />
      </div>

      <script
        async
        src="https://platform.twitter.com/widgets.js"
        charset="utf-8"></script>
    </Layout>

    <script
      type="text/partytown"
      src=`https://www.googletagmanager.com/gtag/js?id=${gTagId}`></script>
    <script type="text/partytown" data-gtagid={gTagId}>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag("js", new Date())
      gtag("config", document.currentScript.dataset.gtagid)
    </script>
  </body>
</html>
